@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0px;
}

svg.top {
  width: 100%;
  height: max-content;
}

svg.bottom {
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: max-content;
}

svg.rocket {
  width: 50%;
  height: 100%;
  padding: 10px;
}

div.splitArea {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.countDownArea {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

h3 {
  color: var(--purple);
  font-weight: 800;
  font-size: 1.4em;
  margin: 0px;
  width: 100%;
  text-align: center;
}

div.countDown .menu {
  color: var(--text-color);
  font-size: 0.8em;
}

div.countDown {
  display: grid;
  width: 100%;
  grid-template: 1fr 3fr / 2fr 1fr 2fr 1fr 2fr 1fr 2fr ;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}

p {
  color: var(--text-color);
  font-size: 0.7em;
  text-align: center;
}

div.countDown span {
  font-size: 1.6em;
}

button {
  width: 40%;
  height: 20%;
  border-radius: 4px;
  background-color: var(--purple);
  color: white;
  padding: 5px;
  border-color: white;
  border-width: 0.5px;
}
